<appSettings>
  <!--通用配置-->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key ="Nlog.Config.Path" value="VConfigs/03.Test/Nlog.config"/>
  <add key="Environment" value="TEST"/>

  <!--日志系统-->
  <add key="Log.IsMiniProfilerEnabled" value="false"/>
  <add key="Log.MaxPostCount" value="100"/><!--批量写入数据库最大数-->
  <add key="Log.InsertCycleTime" value="1000"/><!--间隔多少ms写一次数据库-->


</appSettings>
