<connectionStrings>
  <add name="LogDB" connectionString="Data Source=192.168.1.23;Initial Catalog=LogDB_TEST;Persist Security Info=True;User ID=sa;Password=dbserver.ssharing.net" providerName="System.Data.SqlClient" />
  <add name="AutoOperateDB" connectionString="Data Source=192.168.1.23;Initial Catalog=AutoOperateDB_TEST;Persist Security Info=True;User ID=sa;Password=dbserver.ssharing.net" providerName="System.Data.SqlClient" />
</connectionStrings>
