<connectionStrings>
  <add name="RightsDB" connectionString="Data Source=192.168.1.12,9838;Initial Catalog=RightsDB;Persist Security Info=True;User ID=sa;Password=ssharing.dbserver.test" providerName="System.Data.SqlClient" />
  <add name="LogDB" connectionString="Data Source=192.168.1.12,9838;Initial Catalog=LogDB;Persist Security Info=True;User ID=sa;Password=ssharing.dbserver.test" providerName="System.Data.SqlClient" />
</connectionStrings>
