<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="redis" type="Tracy.Frameworks.Configurations.RedisConfigurationSection, Tracy.Frameworks.Configurations" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <!--redis-->
  <redis hostName="192.168.1.29:6379"></redis>

  <appSettings>
    <!--日志系统-->
    <add key="Log.IsMiniProfilerEnabled" value="false"/>
    <!--批量写入数据库最大数-->
    <add key="Log.MaxPostCount" value="10"/>
    <!--间隔多少ms写一次数据库-->
    <add key="Log.InsertCycleTime" value="500"/>
    <add key="Log.IsEnabled" value="true"/>
    <add key="Log.OpenApi.Url" value="http://logapi.dev.ssharing.com:8085/"/>

  </appSettings>


</configuration>