<appSettings>
  <!--通用配置-->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key ="Nlog.Config.Path" value="VConfigs/02.Dev/Nlog.config"/>
  <add key="Environment" value="DEV"/>
  
  <!--日志系统-->
  <add key="Log.IsEnabled" value="true"/>
  <add key="Log.OpenApi.Url" value="http://logapi.dev.ssharing.com:8085/"/>
  <add key="Log.IsMiniProfilerEnabled" value="false"/>

</appSettings>
