<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd \\hp580tfssz\ReadOnly\Schema\NLog.xsd"
      throwExceptions="false"
      internalLogFile="NLog.internal.log"
      internalLogLevel="Error"
      internalLogToConsole="true">

  <targets async="true">
    <!--###################################默认的Target#############################################-->
    <target xsi:type="File" encoding="UTF-8"
            name="Default.TxtLog"
            fileName="${basedir}/VLogs/${shortdate}.log"
            layout="${date:format=【yyyy-MM-dd HH\:mm\:ss\.fff】} ${message}">
    </target>

    <!--###################################Log系统的Target#############################################-->
    <target xsi:type="File" encoding="UTF-8"
            name="Log.TxtLog"
            fileName="${basedir}/VLogs/${shortdate}.log"
            layout="${date:format=【yyyy-MM-dd HH\:mm\:ss\.fff】} ${message}">
    </target>

  </targets>

  <rules>
    <!--#######################默认的Logger#########################################-->
    <logger name="Default.Log"  minlevel="Debug"  writeTo="Default.TxtLog"/>

    <!--#######################Log系统的Logger#######################################-->
    <logger name="Log.Log"  minlevel="Debug"  writeTo="Log.TxtLog"/>

  </rules>

</nlog>