<Paths>
  <!--##########################Log系统##########################-->
  <LogServiceSite           path="http://log.dev.ssharing.com:8085/LogServiceSite/" />
  <LogOpenApiSite          path="http://log.dev.ssharing.com:8085/LogOpenApiSite/" />
  <LogSite       path="http://log.dev.ssharing.com:8085/LogSite/" />
  
</Paths>
