<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="redisConfig" type="xxxSZ.RedisConfig.RedisConfigSection, xxxSZ.RedisConfig" requirePermission="false"/>
  </configSections>
  
  <connectionStrings configSource="VConfigs\Debug\connectionStrings.config"/>
  <appSettings configSource="VConfigs\Debug\appSettings.config"/>
  <redisConfig configSource="VConfigs\Debug\Redis.config"/>

  <system.serviceModel>
    <extensions configSource="VConfigs\Debug\WCF.extensions.new.config"/>
    <services configSource="VConfigs\Debug\WCF.services.config"/>
    <behaviors configSource="VConfigs\Debug\WCF.behaviors.config"/>
    <bindings configSource="VConfigs\Debug\WCF.bindings.config"/>
    <client configSource="VConfigs\Debug\WCF.client.config"/>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="True" bypassonlocal="True"></proxy>
    </defaultProxy>
  </system.net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>