<appSettings>
  <!--通用配置-->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key ="Nlog.Config.Path" value="VConfigs/04.Uat/Nlog.config"/>
  <add key="Environment" value="UAT"/>

  <!--日志系统-->
  <add key="Log.IsMiniProfilerEnabled" value="false"/>
  <add key="Log.MaxPostCount" value="100"/><!--批量写入数据库最大数-->
  <add key="Log.InsertCycleTime" value="1000"/><!--间隔多少ms写一次数据库-->

  <!--运营自动化平台-->
  <!--新特价机票查询接口地址-->
  <add key="AutoOpt.AirSpecialUrl" value="http://115.28.100.210:3088/SSOpenPlatform/interface/dispatchServlet" />
  <!--购买阳光保险url-->
  <add key="AutoOpt.YangGuangBaoXianUrl" value="http://115.28.100.210:3088/SunShineInsurance/OrderTransmit.Do" />
  <!--对接东航B2G-->
  <add key="AutoOpt.MUB2G.SysAccessKey" value="440CC0C8E90922A241B90C8188C8C638"/>
  
</appSettings>
