<connectionStrings>
  <add name="RightsDB" connectionString="Data Source=.;Initial Catalog=RightsDB;Persist Security Info=True;User ID=sa;Password=ssharing.dbserver.ubtrip" providerName="System.Data.SqlClient" />
  <add name="LogDB_Uat" connectionString="Data Source=.;Initial Catalog=LogDB_Uat;Persist Security Info=True;User ID=sa;Password=ssharing.dbserver.ubtrip" providerName="System.Data.SqlClient" />
</connectionStrings>
