<appSettings>
  <!--##########################通用配置##########################-->
  <!--<add key="webpages:Version" value="1.0.0.0"/>-->
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />

  <!--########################## 日志监控项目 appSettings       start        ##########################-->
  <!--日志监控post地址-->
  <add key="Log.OpenApi.Url" value="http://localhost.dev.ssharing.com:8080/LogOpenApiSite/"/>
  <!--gzip,zlib-->
  <add key="Log.Compress.Type" value="zlib" />
  <!--########################## 日志监控项目 appSettings       end        ##########################-->

  <!--##########################LNAuthorization权限管理配置##########################-->
  <add key="LNAuthorization.DALSQLServer" value="LNAuthorization.DAL.SQLServer"/>

  <!--##########################Tracy.WebFrameworks项目##########################-->
  <add key="Tracy.WebFrameworks.RepositoryAccess" value="Tracy.WebFrameworks.Repository" />

  <!--##########################Rights权限管理系统##########################-->
  <add key="Rights.DaoAccess" value="Rights.Dao" />
  
  <!--##########################Log系统##########################################-->
  <add key="Log.DaoAccess" value="Log.Dao" />

  <!--Nlog.Config路徑-->
  <add key ="Nlog.Config.Path" value="VConfigs/Debug/Nlog.config"/>
  
  
</appSettings>
