<connectionStrings>
  <add name="RightsDB" connectionString="Data Source=.;Initial Catalog=RightsDB;integrated security=True;" providerName="System.Data.SqlClient" />
  <add name="LogDB" connectionString="Data Source=.;Initial Catalog=LogDB;integrated security=True;" providerName="System.Data.SqlClient" />
</connectionStrings>
