<connectionStrings>
  <add name="RoyDB" connectionString="Data Source=.;Initial Catalog=RoyDB;integrated security=True;" providerName="System.Data.SqlClient" />
  <add name="DLogDB" connectionString="Data Source=.;Initial Catalog=DLogDB;integrated security=True;" providerName="System.Data.SqlClient" />
  <add name="WebFrameworksDB" connectionString="Data Source=.;Initial Catalog=WebFrameworksDB;integrated security=True;" providerName="System.Data.SqlClient" />
  <add name="RightsDB" connectionString="Data Source=.;Initial Catalog=RightsDB;integrated security=True;" providerName="System.Data.SqlClient" />
  <add name="LogDB" connectionString="Data Source=.;Initial Catalog=LogDB;integrated security=True;" providerName="System.Data.SqlClient" />

  <!--MongoDB-->
  <add name="MongoTicketDB" connectionString="mongodb://172.18.21.226:27017,172.18.21.33:27017,172.18.21.227:27017/TicketDB?replicaSet=rs0" />
  <add name="MongoHotelDB" connectionString="mongodb://172.18.21.226:27017,172.18.21.33:27017,172.18.21.227:27017/HotelDB?replicaSet=rs0" />
</connectionStrings>
