<Paths>
  <!--##########################Log系统##########################-->
  <LogServiceSite           path="http://localhost.dev.ssharing.com:8080/LogServiceSite/" />
  <LogOpenApiSite          path="http://localhost.dev.ssharing.com:8080/LogOpenApiSite/" />
  <LogSite       path="http://localhost.dev.ssharing.com:8080/LogSite/" />
  
</Paths>
