<redisConfig>
  <!--缓存用-->
  <HostGroup name="GroupTourRedisCache" weight="1" isSentinel="true" masterName="GroupTour-Cache">
    <Hosts>
      <host ip="172.18.21.171" port="7301" readonly="false"></host>
      <host ip="172.18.21.172" port="7301" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="GroupTourRedisCache_StackExchange">
    <Hosts>
      <host ip="172.18.21.168" port="6304" readonly="false"></host>
      <host ip="172.18.21.167" port="6304" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <!--Session用-->
  <HostGroup name="GroupTourRedisSession" weight="1" isSentinel="true" masterName="GroupTour-Session">
    <Hosts>
      <host ip="172.18.21.171" port="7301" readonly="false"></host>
      <host ip="172.18.21.172" port="7301" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="GroupTourRedisSession_StackExchange">
    <Hosts>
      <host ip="172.18.21.168" port="6304" readonly="false"></host>
      <host ip="172.18.21.167" port="6304" readonly="false"></host>
    </Hosts>
  </HostGroup>

  
  <!--begin pbs stackExchange-->
  <HostGroup name="PBS.Session_StackExchange">
    <Hosts>
      <host ip="172.18.21.169" port="6303" readonly="false"></host>
      <host ip="172.18.21.170" port="6303" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="PBS_StackExchange">
    <Hosts>
      <host ip="172.18.21.169" port="6300" readonly="false"></host>
      <host ip="172.18.21.170" port="6300" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <!--end pbs stackExchange-->
  

  <HostGroup name="PBS.Products" weight="1" isSentinel="true" masterName="PBS-ProductCache">
    <Hosts>
      <host ip="172.18.21.171" port="7300" readonly="false"></host>
      <host ip="172.18.21.172" port="7300" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="PBS.WebApiOutputCache" weight="1" isSentinel="true" masterName="PBS-ProductCache">
    <Hosts>
      <host ip="172.18.21.171" port="7300" readonly="false"></host>
      <host ip="172.18.21.172" port="7300" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <!--目前是，PBS里用到的酒店的基础信息，大约3M，最大可能1.5G-->
  <HostGroup name="PBS.Hotel" weight="1" isSentinel="true" masterName="PBS-ProductCache">
    <Hosts>
      <host ip="172.18.21.171" port="7300" readonly="false"></host>
      <host ip="172.18.21.172" port="7300" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <!--海外酒店价格缓存起来，不然用户进入PBS更多酒店页好不容易刷出来酒店了，关闭后又要重新刷，默认缓存5分钟。-->
  <HostGroup name="PBS.Hotel.OverSeaHotelPrice" weight="1" isSentinel="true" masterName="PBS-Session">
    <Hosts>
      <host ip="172.18.21.171" port="7300" readonly="false"></host>
      <host ip="172.18.21.172" port="7300" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="PBS.Flight.AbacusBookingClass" weight="1" isSentinel="true" masterName="PBS-BookingClass">
    <Hosts>
      <host ip="172.18.21.171" port="7300" readonly="false"></host>
      <host ip="172.18.21.172" port="7300" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="PBS.Ticket.AbacusBookingClass" weight="1" isSentinel="true" masterName="PBS-BookingClass">
    <Hosts>
      <host ip="172.18.21.171" port="7300" readonly="false"></host>
      <host ip="172.18.21.172" port="7300" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="PBS.Ticket.AbacusGDSBFM" weight="1" isSentinel="true" masterName="PBS-AbacusGDSBFM">
    <Hosts>
      <host ip="172.18.21.171" port="7300" readonly="false"></host>
      <host ip="172.18.21.172" port="7300" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="PBS.Session" weight="1" isSentinel="true" masterName="PBS-Session">
    <Hosts>
      <host ip="172.18.21.171" port="7300" readonly="false"></host>
      <host ip="172.18.21.172" port="7300" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="HBS.Session" weight="1" isSentinel="true" masterName="Common-Session">
    <Hosts>
      <host ip="172.18.21.171" port="7303" readonly="false"></host>
      <host ip="172.18.21.172" port="7303" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <!--hotel project start  by update new redis.dll-->
  <HostGroup name="HotelRedisCache_StackExchange">
    <Hosts>
      <host ip="172.18.21.168" port="6304" readonly="false"></host>
      <host ip="172.18.21.167" port="6304" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <!--hotel project end-->
    <HostGroup name="CRM.RedisSession" weight="1" isSentinel="true" masterName="Common-Session">
    <Hosts>
      <host ip="172.18.21.171" port="7303" readonly="false"></host>
      <host ip="172.18.21.172" port="7303" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="CRM.RedisToken" weight="1" isSentinel="true" masterName="CRM-Token">
    <Hosts>
      <host ip="172.18.21.171" port="7302" readonly="false"></host>
      <host ip="172.18.21.172" port="7302" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="COMMON.RedisCache" weight="1" isSentinel="true" masterName="CRM-Token">
    <Hosts>
      <host ip="172.18.21.171" port="7302" readonly="false"></host>
      <host ip="172.18.21.172" port="7302" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <!--消息队列用-->
  <HostGroup name="CRM.Queue" weight="1" isSentinel="true" masterName="MessageQueue">
    <Hosts>
      <host ip="172.18.21.171" port="7304" readonly="false"></host>
      <host ip="172.18.21.172" port="7304" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="RestAPI.Hotel" weight="1" isSentinel="true" masterName="MessageQueue">
    <Hosts>
      <host ip="172.18.21.171" port="7304" readonly="false"></host>
      <host ip="172.18.21.172" port="7304" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="RestAPI.Flight" weight="1" isSentinel="true" masterName="MessageQueue">
    <Hosts>
      <host ip="172.18.21.171" port="7304" readonly="false"></host>
      <host ip="172.18.21.172" port="7304" readonly="false"></host>
    </Hosts>
  </HostGroup>

  
  <!--ferry project start-->
 
  <HostGroup name="FerryRedisCache_StackExchange">
    <Hosts>
      <host ip="172.18.21.168" port="6304" readonly="false"></host>
      <host ip="172.18.21.167" port="6304" readonly="false"></host>
    </Hosts>
  </HostGroup>
  
  <!--ferry project end-->
  
    <!--Ticket project start-->
 
  <HostGroup name="ABS_StackExchange">
    <Hosts>
      <host ip="172.18.21.168" port="6304" readonly="false"></host>
      <host ip="172.18.21.167" port="6304" readonly="false"></host>
    </Hosts>
  </HostGroup>
  
  <!--Ticket project end-->

  <!--SOA.Config project start-->

  <HostGroup name="SOA.Config.Cache" weight="1" isSentinel="true" masterName="MessageQueue">
    <Hosts>
      <host ip="172.18.21.171" port="7304" readonly="false"></host>
      <host ip="172.18.21.172" port="7304" readonly="false"></host>
    </Hosts>
  </HostGroup>

  <HostGroup name="SoaConfigRedisCache_StackExchange">
    <Hosts>
      <host ip="172.18.21.168" port="6304" readonly="false"></host>
      <host ip="172.18.21.167" port="6304" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <!--SOA.Config project end-->
  
  <!--ABS Start-->

  <HostGroup name="ABS_StackExchange">
    <Hosts>
      <host ip="172.18.21.168" port="6304" readonly="false"></host>
      <host ip="172.18.21.167" port="6304" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="ABS.Session" weight="1"   masterName="PBS-BookingClass">
    <Hosts>
      <host ip="172.18.21.171" port="7300" readonly="false"></host>
      <host ip="172.18.21.172" port="7300" readonly="true"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="ABS.Session_StackExchange">
    <Hosts>
      <host ip="172.18.21.168" port="6304" readonly="false"></host>
      <host ip="172.18.21.167" port="6304" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="ABS.Ticket.AbacusBookingClass" weight="1" isSentinel="true" masterName="PBS-BookingClass">
    <Hosts>
      <host ip="172.18.21.171" port="7300" readonly="false"></host>
      <host ip="172.18.21.172" port="7300" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="ABS.Ticket.AbacusBookingClass_StackExchange">
    <Hosts>
      <host ip="172.18.21.168" port="6304" readonly="false"></host>
      <host ip="172.18.21.167" port="6304" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="ABS.Ticket.OfflineBookingClass" weight="1" isSentinel="true" masterName="PBS-BookingClass">
    <Hosts>
      <host ip="172.18.21.171" port="7300" readonly="false"></host>
      <host ip="172.18.21.172" port="7300" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="ABS.Ticket.OfflineBookingClass_StackExchange">
    <Hosts>
      <host ip="172.18.21.168" port="6304" readonly="false"></host>
      <host ip="172.18.21.167" port="6304" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="ABS.Ticket.FlightTicketSearchList" weight="1" isSentinel="true" masterName="PBS-BookingClass">
    <Hosts>
      <host ip="172.18.21.171" port="7300" readonly="false"></host>
      <host ip="172.18.21.172" port="7300" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="ABS.Ticket.FlightTicketSearchList_StackExchange">
    <Hosts>
      <host ip="172.18.21.168" port="6304" readonly="false"></host>
      <host ip="172.18.21.167" port="6304" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="ABS.Ticket.OnlineSearchResultList" weight="1" isSentinel="true" masterName="PBS-BookingClass">
    <Hosts>
      <host ip="172.18.21.171" port="7300" readonly="false"></host>
      <host ip="172.18.21.172" port="7300" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <HostGroup name="ABS.Ticket.OnlineSearchResultList_StackExchange">
    <Hosts>
      <host ip="172.18.21.168" port="6304" readonly="false"></host>
      <host ip="172.18.21.167" port="6304" readonly="false"></host>
    </Hosts>
  </HostGroup>

  <!--ABS End-->

  <!--H5 RestAPI 使用-->
  <HostGroup name="H5.Wireless">
    <Hosts>
      <host ip="172.18.21.167" port="6307" readonly="false"></host>
      <host ip="172.18.21.172" port="7304" readonly="false"></host>
    </Hosts>
  </HostGroup>
  <!--end-->
  
  <!--HBS Start-->
  
  <HostGroup name="HBS_StackExchange">
    <Hosts>
      <host ip="172.18.21.168" port="6304" readonly="false"></host>
      <host ip="172.18.21.167" port="6304" readonly="false"></host>
    </Hosts>
  </HostGroup>

  <!--HBS End-->

</redisConfig>




