<services>
  <!--Roy-->
  <service name="Roy.Service.RoyMenuService">
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding_Service"
    contract="RoyMenuService.IRoyMenuService" />
    <endpoint address="REST" behaviorConfiguration="REST" binding="webHttpBinding"
    bindingConfiguration="HttpJsonpBinding" name="REST" contract="RoyMenuService.IRoyMenuService" />
  </service>
  
  <!--DLog-->
  <service name="DLog.Service.DLogCommonService">
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding_Service"
    contract="DLogCommonService.IDLogCommonService" />
    <endpoint address="REST" behaviorConfiguration="REST" binding="webHttpBinding"
    bindingConfiguration="HttpJsonpBinding" name="REST" contract="DLogCommonService.IDLogCommonService" />
  </service>

  <service name="DLog.Service.DLogDebugLogService">
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding_Service"
    contract="DLogDebugLogService.IDLogDebugLogService" />
    <endpoint address="REST" behaviorConfiguration="REST" binding="webHttpBinding"
    bindingConfiguration="HttpJsonpBinding" name="REST" contract="DLogDebugLogService.IDLogDebugLogService" />
  </service>

  <service name="DLog.Service.DLogErrorLogService">
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding_Service"
    contract="DLogErrorLogService.IDLogErrorLogService" />
    <endpoint address="REST" behaviorConfiguration="REST" binding="webHttpBinding"
    bindingConfiguration="HttpJsonpBinding" name="REST" contract="DLogErrorLogService.IDLogErrorLogService" />
  </service>

  <service name="DLog.Service.DLogPerfLogService">
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding_Service"
    contract="DLogPerfLogService.IDLogPerfLogService" />
    <endpoint address="REST" behaviorConfiguration="REST" binding="webHttpBinding"
    bindingConfiguration="HttpJsonpBinding" name="REST" contract="DLogPerfLogService.IDLogPerfLogService" />
  </service>

  <service name="DLog.Service.DLogResourceService">
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding_Service"
    contract="DLogResourceService.IDLogResourceService" />
    <endpoint address="REST" behaviorConfiguration="REST" binding="webHttpBinding"
    bindingConfiguration="HttpJsonpBinding" name="REST" contract="DLogResourceService.IDLogResourceService" />
  </service>
  
</services>






