<client>

  <!--Roy-->
  <endpoint address="http://localhost.dev.wingontravel.com/RoyService/RoyMenuService.svc"
  binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding_Client"
  contract="RoyMenuService.IRoyMenuService" name="WSHttpBinding_IRoyMenuService">
  </endpoint>
  
  <!--DLog-->
  <endpoint address="http://localhost.dev.wingontravel.com/DLogService/DLogCommonService.svc"
  binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding_Client"
  contract="DLogCommonService.IDLogCommonService" name="WSHttpBinding_IDLogCommonService">
  </endpoint>

  <endpoint address="http://localhost.dev.wingontravel.com/DLogService/DLogDebugLogService.svc"
  binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding_Client"
  contract="DLogDebugLogService.IDLogDebugLogService" name="WSHttpBinding_IDLogDebugLogService">
  </endpoint>

  <endpoint address="http://localhost.dev.wingontravel.com/DLogService/DLogErrorLogService.svc"
  binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding_Client"
  contract="DLogErrorLogService.IDLogErrorLogService" name="WSHttpBinding_IDLogErrorLogService">
  </endpoint>

  <endpoint address="http://localhost.dev.wingontravel.com/DLogService/DLogPerfLogService.svc"
  binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding_Client"
  contract="DLogPerfLogService.IDLogPerfLogService" name="WSHttpBinding_IDLogPerfLogService">
  </endpoint>

  <endpoint address="http://localhost.dev.wingontravel.com/DLogService/DLogResourceService.svc"
  binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding_Client"
  contract="DLogResourceService.IDLogResourceService" name="WSHttpBinding_IDLogResourceService">
  </endpoint>
  
  <!--WebFrameworks-->
  <endpoint address="http://localhost.dev.ssharing.com:8080/WebFxsServiceSite/WebFxsCorporationService.svc"
  binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding_Client"
  contract="WebFxsCorporationService.IWebFxsCorporationService" name="WSHttpBinding_IWebFxsCorporationService">
  </endpoint>

  <endpoint address="http://localhost.dev.ssharing.com:8080/WebFxsServiceSite/WebFxsUserService.svc"
  binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding_Client"
  contract="WebFxsUserService.IWebFxsUserService" name="WSHttpBinding_IWebFxsUserService">
  </endpoint>

  <endpoint address="http://localhost.dev.ssharing.com:8080/WebFxsServiceSite/WebFxsCommonService.svc"
  binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding_Client"
  contract="WebFxsCommonService.IWebFxsCommonService" name="WSHttpBinding_IWebFxsCommonService">
  </endpoint>
  
  
</client>