<behaviors>

  <!--通用 Services-->

  <endpointBehaviors>
    <behavior name="">
      <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
    </behavior>
    <behavior name="EnableJsonpAjaxBehavior">
      <enableWebScript />
    </behavior>
    <behavior name="REST">
      <enableWebScript />
    </behavior>
    <behavior name="restBehavior">
      <webHttp faultExceptionEnabled="true" helpEnabled="true" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json" />
      <!--<RESTSecurity />-->
    </behavior>
  </endpointBehaviors>
  <serviceBehaviors>
    <behavior name="">
      <serviceMetadata httpGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="true" />
      <serviceThrottling maxConcurrentCalls="128" maxConcurrentSessions="800"/>
      <dataContractSerializer maxItemsInObjectGraph="2147483647" ></dataContractSerializer>
      <!--<faultsHandler />-->
        <!--如果xx.Offline.Service项目没有引用Tracy.Frameworks.Service.dll，则要注释掉这个节点-->
    </behavior>
  </serviceBehaviors>



  <!--CtripSZ 團隊項目集下的 Services-->




  <!--Account 團隊項目下的 Services-->






  <!--CRM 團隊項目下的 Services-->




  <!--Hotel 團隊項目下的 Services-->




  <!--HR 團隊項目下的 Services-->




  <!--Infrastructure 團隊項目下的 Services-->




  <!--Insurance 團隊項目下的 Services-->




  <!--Package 團隊項目下的 Services-->




</behaviors>
