<extensions>
  <!--只能把每个项目都用到的扩展放这里-->


  <!--iwingon Services-->



  <!--CtripSZ 團隊項目集下的 Services-->



  <!--Account 團隊項目下的 Services-->






  <!--CRM 團隊項目下的 Services-->




  <!--Hotel 團隊項目下的 Services-->

  <behaviorExtensions>
    <!--<add name="RESTSecurity" type="CtripSZ.Frameworks.Rest.RESTSecurity, CtripSZ.Frameworks.Rest" />-->
    <add name="faultsHandler" type="Tracy.Frameworks.Service.FaultsBehaviorExtension, Tracy.Frameworks.Service" />
    <add name="ValidationFaultHandler" type="Tracy.Frameworks.Service.ValidateFaultBehaviorExtension, Tracy.Frameworks.Service" />
  </behaviorExtensions>


  <!--HR 團隊項目下的 Services-->




  <!--Infrastructure 團隊項目下的 Services-->




  <!--Insurance 團隊項目下的 Services-->




  <!--Package 團隊項目下的 Services-->





</extensions>
