<connectionStrings>
  <add name="RightsDB" connectionString="Data Source=.;Initial Catalog=RightsDB;integrated security=True;" providerName="System.Data.SqlClient" />
  <add name="LogDB" connectionString="Data Source=192.168.1.142;Initial Catalog=LogDB;Persist Security Info=True;User ID=sa;Password=ssharing.dbserver.dev" providerName="System.Data.SqlClient" />
  <add name="AutoOperateDB" connectionString="Data Source=192.168.1.142;Initial Catalog=AutoOperateDB;Persist Security Info=True;User ID=sa;Password=ssharing.dbserver.dev" providerName="System.Data.SqlClient" />
</connectionStrings>
