<connectionStrings>
  <add name="RightsDB" connectionString="Data Source=.;Initial Catalog=RightsDB;Persist Security Info=True;User ID=sa;Password=ssharing.dbserver.ubtrip" providerName="System.Data.SqlClient" />
  <add name="LogDB_Prod" connectionString="Data Source=.;Initial Catalog=LogDB_Prod;Persist Security Info=True;User ID=sa;Password=ssharing.dbserver.ubtrip" providerName="System.Data.SqlClient" />
  <add name="AutoOperateDB_Prod" connectionString="Data Source=.;Initial Catalog=AutoOperateDB_Prod;Persist Security Info=True;User ID=sa;Password=ssharing.dbserver.ubtrip" providerName="System.Data.SqlClient" />
</connectionStrings>
